@using BlogProject.Entity.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered" id="blogs">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd/MMM/yyy"))</td>
            <td>@item.Category.CategoryName</td>
            @if (item.BlogStatus == true)
            {
                <td><a data-id="@item.BlogID" class="btn btn-success status">Aktif</a></td>
            }
            else
            {
                <td><a data-id="@item.BlogID" class="btn btn-dark status">Pasif</a></td>
            }

            <td><a @*href="/Blog/DeleteBlog/@item.BlogID"*@ data-id="@item.BlogID" class="btn btn-danger Delete">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-warning">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-primary">Yeni Blog Oluştur</a>
@*@section scripts{*@
<script>
    //const { table } = require("node:console");
    //const { swal, Swal } = require("../../wwwroot/writer/assets/js/SweetAlert2");

    $("#blogs").on("click", ".status", function () {
        var btn = $(this);
        var id = btn.data("id");
        $.ajax({
            type: "POST",
            url: "/Blog/UpdateBlogStatus/" + id,            
            success: function (s) {
                $(document).ready(function () {
                    var pageRefresh = 1000; //1 s
                    setInterval(function () {
                        $('#blogs').load(location.href + " #blogs");
                    }, pageRefresh);
                });
                if (s) {                    
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Güncelleme İşlemi Başarılı',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    //location.reload();
                    
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Güncelleme İşlemi Başarısız',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        });
    });


    $("#blogs").on("click", ".Delete", function () {
        var btn = $(this); //tıklanan butonu yakalar
        var id = btn.data("id"); //tıklanan datanın id özelliğini getirir
        //var blogName = btn.data("value");
        Swal.fire({
            title: 'UYARI!',
            text: "Blog yazısını silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Blog/DeleteBlog/" + id,
                    success: function (s) {
                        if (s) {                           
                            Swal.fire(
                                'Başarılı!',
                                'Seçilen Blog Silindi .',
                                'success'
                            )
                            btn.parent().parent().remove();
                        }                      
                    }
                });
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    text: 'Silme işlemi yapılmadı'
                });
            }
        });
    });
</script>
@*}*@